<div class="d-flex flex-wrap" id="productList">
  {{#each products}}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.description}}</p>
        <p class="card-text">$ {{this.price}}</p>
      </div>
    </div>

  {{/each}}

</div>

<h1> Producto Nuevo </h1>
<form id="productForm">
  <div>
    <label for="title">Título</label>
    <input type="text" name="title" value="Palita" id="title" />
  </div>
  <div>
    <label for="title">Descripción</label>
    <input
      type="text"
      name="description"
      value="Descripcion de la palita"
      id="description"
    />
  </div>
  <div>
    <label for="price">Precio</label>
    <input type="number" name="price" value="2000" id="price" />
  </div>
  <div>
    <label for="code">Código</label>
    <input type="text" name="code" value="7654jhgf" id="code" />
  </div>
  <div>
    <label for="stock">Stock</label>
    <input type="text" name="stock" value="20" id="stock" />
  </div>
  <div>
    <label for="category">Categoría</label>
    <input type="text" name="category" value="Juguetería" id="category" />
  </div>
  <button id="button">Agregar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>